.red_bg {
    background-color: #c41230;
    height: 95vh;
    
}


.donation_sec {
    border: 2px solid white;
    width: 25%;
    margin: 20px;
   /* height: 70vh;*/
    background-color: #e9e9e9;
    float: left;
}
.logo {
    width: 10vw;
    padding: 25px;
    margin: 5px auto;
    background-size: cover;
}
.logo img {
    width: 100%;

}
.logo_2{
    width: 10vw;
    margin: 5px auto;
    background-size: cover;
}
.logo_2 img {
    width: 100%;
}
.donation_info img {
    width: 55%;
    display: block;
    margin: auto;
    border: 8px solid white;
    -webkit-box-shadow: -1px -4px 5px 18px #c41230;
    -moz-box-shadow: -1px -4px 5px 18px #c41230;
    box-shadow: -1px -4px 5px 18px #c41230;
}

.social_info{
    text-align: center;
}
.social_info ul li {
    padding-right: 20px;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.3s;
    
}
.social_info ul li i {
    color: gray;
    padding-top: 15px;
    font-size: 25px;
    --webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
    /*border-bottom: 2px solid #80808014;*/
}
.social_info ul li a {
    display: block;
    text-decoration: none;
    color: #c41230;
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.3s;
}
.social_info ul li i:hover {
    color:  #c41230;
}

.social_info ul li a:hover {
    color: gray;
}
.social_info input {
    margin: 10px;
    width: 15vw;
    height: 5vh;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    background-color: #c41230;
}


.media {
    width: 68%;
    float: left;
    background-color: white;
    margin: 18px;
    -webkit-box-shadow: 0px 1px 5px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 4px rgba(0,0,0,0.75);
}

.footer {
    background-color: #11253d;
    padding: 10px;

}
.footer p { 
    text-align: center;
    color: #908c8c;
    border: 1px solid #b3aaaa;
    margin: 5px;
    padding: 5px;
    
}
.footer ul li {
    display: inline-block;
    text-decoration: none;
    color: grey;
}
.footer ul {
    padding-inline-start: 15px;
}

.footer ul li a {
    text-decoration: none;
    color: grey;
    border-right: 1px solid grey;
    font-size: 12px;
    padding-right: 10px;
    transition: 0.3s;
    /* margin-right: 10px; */
}
.footer ul li a:hover {
    color:#c41230;
}
.cover_pic img {
    width: 100%;
}
.inp_registr p {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: grey;
}
.inp_registr input {
    /*width: 10vw;*/
    margin: 4px;
    border-radius: 3px;
    border: 1px solid #ead2d2;
}
.inp_registr {
    text-align: center;

}

.mail_input {
    width: 17vw;
    height: 3vh;
    padding: 3px;

}
.zip_input {
    width: 8vw;
    height: 3vh;
    padding: 2px;
}

.reg_button {
    width: 8vw;
    height: 4vh;
    background-color: #c41230;
    color: white;
    transition: 0.3s;
}
.reg_button:hover {
    background-color: white;
    color: #11253d;
}
.blue_bg {
    background-color: #00446a;
    height: 80vh;
}
.obama_sec {
    border: 2px solid white;
    background: white;
    width: 25%;
    margin: 20px;
   /* height: 70vh;*/
    float: left;
}
.test {
    margin-bottom: 15px;
}
.second_logo {
    margin-bottom: 15px;
    background-color: #00446a;
}
.second_logo img {
    width: 3vw;
    padding: 5px;

}
.inf_reg h1 {
    color: #00446a;
    text-align: center;
    text-transform: uppercase;

}
.inf_reg {
    text-align: center;
    padding: 5px;
}
.inf_reg input {
    padding: 5px;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}
.ob_img img {
    width: 100%;
}
h4 {
    text-align: center;
    color: #908c8c;
}
.sec_logo img {
    width: 100%;
}
.obama_sec_2 {
    border: 2px solid white;
    background: white;
    width: 68%;
    margin: 20px;
   /* height: 70vh;*/
    float: left;

}
.sec_logo2 {
    text-align: center;
    background-color: #00446a
   
}
.media_2{
    padding: 0 15px 0 15;
}
.media_2 img {
    width: 100%;
    height: 40vh;
}




