body {
    width: 80%;
    margin:auto;
    padding: 0;
    box-sizing:border-box;
    list-style-type: none;
    text-decoration: none;

}
#container {
    border: 1px solid #aaa4a4;
    padding: 1vw;
    background-color: #416d6dbd;
    box-shadow: 0px 0px 39px 0px rgba(101,175,186,1);
}
#to_do_list {
    margin-block-start: 0;
}
h4{
    margin-left: 5vw;
    color: white;
    font-style: italic;
}
#add_input {
    outline: none;
    border: 1.5px solid #d8d4d4;
    padding: 0.5vw;
    border-radius: 4px;
    color: #aaa4a4;
    margin-left: 3vw;
}
.btn {
    outline: none;
    border: 1.5px solid #d8d4d4;
    padding: 5px;
    border-radius: 4px;
    color:#aaa4a4;
    background-color: white;
    cursor: pointer;
    transition: .3s;

}

.li_style {
    position: relative;
    display: block;
    outline: none;
    border: 1.5px solid #d8d4d4;
    padding: 1vw;
    color:#aaa4a4;
    background-color: white;
}
#error {
    padding-left: 20px;
    margin-left: 20px;
    color: bisque;

}
.check  {
    padding: 1vw;
    cursor:pointer;
    transition: 0.3s
}
.check:hover {
    background-color: bisque;
}
.checked {
    color: red;
    text-decoration: line-through;
  }
.remove {
    right:0 ;
    top: 0;
    position: absolute;
    padding: 8px;

}