body {
    width: 80%;
    margin:auto;
    padding: 0;
    box-sizing:border-box;

}

#add_input {
    outline: none;
    border: 1.5px solid #d8d4d4;
    padding: 5px;
    border-radius: 4px;
    color:#aaa4a4;
}
#add_btn {
    outline: none;
    border: 1.5px solid #d8d4d4;
    padding: 5px;
    border-radius: 4px;
    color:#aaa4a4;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;

}
#add_btn:hover {
    background-color: bisque;
}