*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
html, body{
    width: 100%;
    background-color: #fad9d2;
    font-family: Arial, Helvetica, sans-serif;
}

.main_bg {
    width: 100%;
    display: flex;
    height: 750px;
    max-height: 1000px;

}
.container{
    box-sizing: border-box;
    display: flex;
    width: 50%;
    min-height: 470px;
    background-color: #ffffff;
    margin: auto; 
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    border-radius: 2px;
    justify-content: flex-start;
    flex-direction: row;
    
}
#login_form{
    display: none;

}
.first_item {

    background-image: url("images/pic.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    margin: 30px 0 30px 30px;
}
.second_item {
    width: 50%;
    margin: 30px 0 30px 30px;
}
.reg_form {
    display: flex;
    flex-direction: row;

}
.sign_up p {
    font-size: 25px;
    font-style: italic;
    color: #e8a0a1;
    font-family: serif;
    text-align:center;
    font-weight: 700;
}
.sign_up{
    cursor: pointer;
    margin-left: 10px;
    width: 40%;
    border-bottom: 2px solid #e8a0a1;
    padding: 5px;
}
.Login {
    cursor: pointer;
    margin-left: 10px;
    width: 40%;
    border-bottom: 2px solid  #eae3e3;
    padding: 5px;

}
.Login p {
    font-size: 25px;
    font-style: italic;
    color: #eae3e3;
    font-family: serif;
    text-align:center;
    font-weight: 700;
}
.inputs {
    outline: none;
    display: block;
    width: 80%;
    font-size: 12px;
    margin:  20px 10px;
    border: none;
    padding:  10px 10px 10px 20px;
    background-color: #f7f7f7;
    border-radius: 30px;
}
.checkbox{
    margin-left: 20px;

}
a {
    color: #e8a0a1
}
a:hover{
    text-decoration: underline;
}
span {
    font-size: 12px;
    line-height: 12px;
    color: #bab8b8;
}

#button {
    outline: none;
    background-color: #e8a0a1;
    border-radius: 21px;
    width: 40%;
    color: white;
    padding: 12px;
    border: none;
    margin: 15px;
    transition: .3s;
    cursor: pointer;
}
#button:hover{
    text-decoration: underline;
    
}

.sec_span {
    font-size: 10px;
}


@media only screen and (max-width: 745px){
    .container {
        flex-direction: column;

    }
    .first_item{
        height: 300px;
        width: 80%;
        margin: auto;
    }
    .second_item {
        width: 80%;
        margin: auto;

    }
}

#message {
        display: none;
        background: #f7f7f7;
        border-radius: 14px;
        color: #e8a0a1;
        position: relative;
        line-height: 20px;
        padding: 5px;
        margin-top: 10px;
        font-size: 12px;
        font-style: italic;
    }
#mess_email {
        display: none;
        width: 160px;
        margin-left: 10px;
        background: #f7f7f7;
        border-radius: 14px;
        color: #e8a0a1;
        position: relative;
        line-height: 20px;
        padding: 5px;
        margin-top: 10px;
        font-size: 12px;
        font-style: italic;
}
#mess_pass {
    display: none;
        width: 180px;
        margin-left: 10px;
        background: #f7f7f7;
        border-radius: 14px;
        color: #e8a0a1;
        position: relative;
        line-height: 20px;
        padding: 5px;
        margin-top: 10px;
        font-size: 12px;
        font-style: italic;

}
#mess_pass2 {
    display: none;
        width: 180px;
        margin-left: 10px;
        background: #f7f7f7;
        border-radius: 14px;
        color: #e8a0a1;
        position: relative;
        line-height: 20px;
        padding: 5px;
        margin-top: 10px;
        font-size: 12px;
        font-style: italic;

}






















